.toggle-button {
    color: gray;
    transform: scale(1.5);
    border: none;
    outline: none !important;
    box-shadow: none;
    transition: 0.3s;
}

.toggle-button:hover,
.toggle-button:active {
    color: black;
    /* background:#292b2c; */
    outline: none;
}


.toggle-button-line {
    margin-left: 10px;
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #fff;
}
