


/*
.side-bar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    list-style: none;
    justify-content: center;
}

.side-bar .side-item {
    height: 10%;
    width: 100%;
    margin: 0.5rem 0;

} */

/* .side-bar .side-link {
    color: white;
    text-decoration: none;
    background: #292b2c;
    border-radius: 0 10px 10px 0;
    position: absolute;
    left: -25%;
    padding: 15px;
    font-size: 1.2rem;
    transition: 0.3s;
    width: 100%;
} */

/* .side-bar .side-link:hover,
.side-bar .side-link:active {
    background-color: #ffa260;
    color: black;

    left: 0;
} */

/* @media (min-width: 769px){
    .side-bar {
        display: none;
    }
} */

P{
    font-family: 'Poppins', 'sans-seriff';
    text-align: left;
    margin-left: 1.1em;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #fff;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0px;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* .sidebar {
    height: 100%;
    background: #343a40;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    max-width: 250px;
    transform: translateX(-100%);
    transition: transform 0.3s;
} */

.sidebar {
    position: fixed;
    height: 100%;
    min-width: 250px;
    max-width: 250px;
    top: 0;
    left: 0;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, .5);
    background: #7386d5;
    color: #fff;
    transition: all 0.3s;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar .active {
    margin-left: 0px;
}

.sidebar .sidebar-header {
    padding: 15px 20px;
    background: #6d7fcc;
}

.sidebar ul.components {
    padding: 20px 0px;
    border-bottom: 1px solid #44748b;
}

.sidebar ul p {
    padding: 10px 10px;
    font-size: 1.1em;
    display: block;
}
.sidebar ul li a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.sidebar ul li a:hover,
.sidebar ul li #dropdown-toggle:hover{
    color: #7386d5;
    background: #fff;
}
.sidebar ul li.active>a,
a[aria-expanded="true"]{
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"]{
    position: relative;
}

#dropdown-toggle:after{
    display: block;
    position: absolute;
    top: 60%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a{
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.parking-services {
    background: #fff;
    color: #7386d5;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media (max-width:768px){
    .sidebar {margin-left: -250px;}
    .sidebar.active{
        margin-left: 0px;
    }
}

.parking-services{
    transition: all 0.3s;
}

.parking-services:hover{
    transform: scale(1.1);
}